* {
    margin: 0;
    padding: 0;
    font-family: "gilroy-bold";
}

/* Fonts exports */
@font-face {
    font-family: "gilroy-bold";
    src: url(Gilroy/gilroy-bold.ttf);
  }

  @font-face {
    font-family: "gilroy-sm";
    src: url(Gilroy/gilroy-semibold.ttf);
  }
  
  @font-face {
    font-family: "gilroy-medium";
    src: url(Gilroy/gilroy-medium.ttf);
  }

  @font-face {
    font-family: "gilroy-regular";
    src: url(Gilroy/gilroy-regular.ttf);
  }

/*  */

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* landing (first display)*/
.landing {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;    
    width: 100%;
    max-width: 1920px;
    height: 700px;
}

.landing_header {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 1170px;
    height: 40px;
}

.header_logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 137px;
    height: 40px;
}

.logo_text span {
    font-family: "gilroy-bold";
    font-size: 24px;
}

.grow_be2 {
    color: #F25822;
}

.tagline {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    max-width: 88px;
    height: 30px;
}

.header_nav {
    max-width: 687px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-left: 346px;
}

.header_nav__anchor1 {
    color: #F25822;
    margin-right: 20px;
    font-size: 12px;
}

.header_nav a {
    text-decoration: none;
  }

.header_nav a:hover {
    text-decoration: underline;
}

.header_nav__anchor {
    margin-right: 17px;
    margin-left: 17px;
    font-size: 12px;
}

.header_nav__btn {
    width: 120px;
    height: 40px;
    font-family: 'gilroy-sm';
    background-color: #F25822;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    margin-left: 24px;
}

.landing_top {
    display: flex;
    justify-content: center; 
    margin-top: 84px; 
    margin-bottom: 103px;
}

.landing_top__info {
    margin-top: 59px;
    width: 535px;
    height: 374px;
}

.landing_top__text-h3 {
    font-size: 60px;
}

.landing_top__text-p {
    margin-top: 17px;
    margin-left: 8px;
    font-size: 20px;
    font-family: "gilroy-medium";
    color: #888888;
}

.landing_top__btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 37px;
}

.landing_top__btn {
    width: 140px;
    height: 50px;
    background-color: #F25822;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    margin-right: 27px;
}

.landing_top__btn2 {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    
}

.landing_top__img {
    margin-left: 47px;
}

/* aside-logos */

.landing_top__logos {
    display: flex;
    height: 243px;
}

.landing_top__logos-holder {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 50px;
}

/* about */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 540px;
    background-size: cover;
    background: url(./img/Vector1.svg) center center/cover no-repeat,
              url(./img/Vector2.svg) center center/cover no-repeat,
              url(./img/Background.svg) center center/cover no-repeat;
}

.about_background {
    position: relative;
    width: 100%;

    background-color: #FAFAFA;
    background-size: cover;
}

.about_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_info__text {
    margin-left: 30px;
    width: 515px;
    height: 289px;
}

.about_info__text h3 {
    font-size: 45px;
    width: 409px;
    height: 112px;
}

.about_info__text p {
    width: 515px;
    height: 72px;
    margin-top: 17px;
    font-size: 15px;
    font-family: "gilroy-medium";
    color: #888888;
}

.about_info__btn {
    width: 140px;
    height: 50px;
    background-color: #F25822;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    margin-right: 27px;
}

.about_charts {
    margin-top: -23px;
    margin-bottom: -37px;
    margin-left: -32px;
    margin-right: -122px;
}

/* feautures */

.feautures_container {
    display: flex;
}

.feautures_info__content {
    width: 370px;
    height: 291px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 30px;
    padding-top: 40px;
    
}

.feautures_info__content.shadow {
    margin-left: 60px;
    margin-right: 60px;
}

.feautures_img__holder {
    position: relative;
    width: 70px;
    height: 70px;
}

.feautures_img__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.25;
    width: 70px;
    height: 70px;
    border-radius: 19px;
    z-index: 1;
}

.img1_container {
    background-color: #F25822;
}

.img2_container {
    background-color: #149211;
}

.img3_container {
    background-color: #FFC700;
}

.feautures_info__content-img {
    position: absolute;
    top: 22px;
    left: 22px;
}

.feautures_info__content-h3 {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 17px;
}

.feautures_info__content-p {
    font-size: 15px;
    margin-bottom: 25px;
}

.feautures_info__content-a {
    font-size: 11px;
    text-decoration: none;
}

/* services */

.services {
    display: flex;
    justify-content: center;
background-color: #FAFAFA;
width: 100%;
height: 919px;
}

.services_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 682px;
    height: 123px;
    margin-top: 92px;

}

.services_header h3 {
    font-size: 45px;
}

.services_header p {
    font-size: 16px;
    color:#666666;
    font-family: "gilroy-regular";
    text-align: center;
    margin-top: 19px;
}

.services_content__container {
    display: flex;
    margin-top: 55px;
}

.services_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 549px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #FFFFFF;
}

.services_content h4 {
    margin-top: 25px;
    font-size: 24px;
}

.services_content p {
    text-align: center;
    margin-top: 22px;
    margin-bottom: 39px;
}

.services_content button {
    width: 150px;
    height: 50px;
    margin-right: 20px;
    background-color: #F25822;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    margin-left: 34px;
}

.services_content_research img {
    height: 270px;
}

.shadow {
    box-shadow: 0 9px 19px 0 rgba(90, 90, 90, 0.5);
}

/* What-we-do */

.what-we-do {
    display: flex;
}

.what-we-do_content_txt_container {
    margin-top: 107px;
    width: 570px;
}

.wwd_img-compass {
    margin-left: -300px;
}

.what-we-do_content_txt_container h3 {
    font-size: 45px;
    width: 557px;
}

.what-we-do_content_txt_container > p {
    font-size: 16px;
    width: 557px;
    color: #666666;
    font-family: "gilroy-regular";
    margin-top: 19px;
}

.what-we-do_content_txt_container img {
    position: absolute;
    top: 30px;
    left: 30px;
}

.wwd_container {
    display: flex;
    width: 491px;
    height: 100px;
    background-color: #FFFFFF;
}

.wwd_img {
    position: relative;
}

.wwd_img__bckg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    opacity: 0.25;
}

.wwd_container.globe .wwd_img__bckg {
    background-color: #F25822;
}

.wwd_container.email .wwd_img__bckg {
    background-color: #BDE0BC;
}

.wwd_container.email {
    margin-top: 47px;
    margin-bottom: 47px;
}

.wwd_container.globe {
    margin-top: 79px;
}

.wwd_container.seo .wwd_img__bckg {
    background-color: #FFC700;
}

.wwd_container.email.shadow {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 30px;
    width: 570px;
}

.wwd_container:not(.email) {
    margin-left: 30px;
}

.wwd_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 120px;
}

.what-we-do_content_txt_container h4 {
    font-size: 20px;
}

.what-we-do_content_txt_container p {
    font-size: 15px;
    margin-top: 8px;
    font-family: "gilroy-regular";
}

/* FUNFACT  */

.FUNFACT {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.FUNFACT img {
    margin-left: 50px;
    margin-right: 50px;
}

.FUNFACT_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: #EEEEEE 2px solid;
    width: 1170px;
    height: 200px;
    padding-left: 76px;
    padding-right: 76px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text h3 {
    font-size: 70px;
    color: #666666;
}

.text p {
    font-size: 18px;
    font-family: "gilroy-sm";
    color: #666666;
}

/* MAIL-BOX */

.mail-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 558px;
}

.mail-box_form {
    width: 570px;
    margin-right: 10px;
}

.mail-box_form__info h3{
    font-size: 45px;
}

.mail-box_form__info p {
    margin-top: 13px;
    margin-bottom: 55px;
    font-family: "gilroy-regular";
    font-size: 16px;
    width: 458px;
}

.mail-box_form__input {
    display: flex;
    flex-wrap: nowrap;
    width: 570px;
    height: 50px;
}

.mail-box_form__input input {
    background-color: #EEEEEE;
    color: #CCCCCC;
    font-size: 11px;
    font-family: "gilroy-medium";
    width: 160px;
    height: 50px;
    margin-left: -5px;
    padding-left: 20px;
    border: none;
}

.mail-box_form__input-url-left {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.mail-box_form__input-mail-right {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: #CCCCCC solid 2px !important;
}

.mail-box_form__input button {
    margin-left: 29px;
    width: 140px;
    height: 50px;
    background-color: #F25822;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
}

.mail-box_img-container {
    margin-right: -140px;
}

/* PLANS */

.plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FAFAFA;
}

.plans_header {
    width: 211px;
    height: 95px;
}

.plans_header h3 {
    margin-top: 87px;
    font-size: 45px;
}

.plans_header p {
    font-family: "gilroy-regular";
    font-size: 16px;
    margin-bottom: 56px;
}

.plans_cardholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 570px;
    margin-top: 150px;
}

.plans_cardholder .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 514px;
    background-color: #FFFFFF;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 100px;
}

.plans_cardholder h4 {
    font-family: "gilroy-medium";
    font-size: 24px;
    /* margin-top: 20px; */
}

.plus_price__holder {
    display: flex;
    width: 155px;
    height: 105px;
    align-items: flex-start;
}

.plans_span1 {
    font-family: "gilroy-medium";
    font-size: 18px;
    margin-top: 25px;
}

.plans_span2 {
    font-family: "gilroy-medium";
    font-size: 70px;
    margin-top: 10px;
}

.plans_span3 {
    font-family: "gilroy-medium";
    font-size: 18px;
    margin-top: 57px;
}

.card p {
    font-family: "gilroy-medium";
    font-size: 16px;
    line-height: 2;
    text-align: center;
    margin-bottom: 27px;
}

.card  button {
    width: 200px;
    height: 50px;
    background-color: rgba(242, 88, 34, 0.25);

    color: #F25822;
    border: none;
    border-radius: 25px;
}

.card:hover button {
    background-color: rgba(242, 88, 34, 1);
    color: #FFFFFF;
}

.card:hover h4 {
    color: #F25822;
}

.card:hover {
    height: 570px;
    box-shadow: 0 0 10px rgba(15, 5, 5, 0.3);
}

/* TEAM */

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: #FAFAFA; */
}

.team_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 552px;
    height: 128px;
}

.team_header h3 {
    font-size: 45px;
    margin-top: 250px;
}

.team_header p {
    text-align: center;
    font-size: 16px;
    font-family: 'gilroy-medium';
    color: #666666;
    margin-top: 16px;
    margin-bottom: 52px;
}

.team_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1170px;
    margin-top: 166px;
    margin-left: 30px;
    margin-right: 30px;
}

.team_teammate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 331px;
    background-color: #FFFFFF;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 100px;
    border: #EEEEEE 2px solid;
}

.team_teammate h4 {
    font-family: 'gilroy-sm';
    font-size: 20px;
    margin-top: 14px;
}

.team_teammate p {
    font-family: 'gilroy-medium';
    font-size: 13px;
    color: #888888;
    margin-top: 8px;
    margin-bottom: 16px;
}

.team_teammate:hover {
    box-shadow: 0 0 10px rgba(15, 5, 5, 0.3);
}

.team_teammate:hover h4 {
    color: #F25822;
}

.soc-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97px;
}

.team_socmedia__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 20px;
    height: 20px;
}

.team_socmedia__container svg {
    fill: #AAAAAA;
}

.team_socmedia__container:hover {
    background-color: #F25822;
    width: 20px;
    height: 20px;
    background-size: cover;
    color: white;
}

.team_socmedia__container:hover svg {
    fill: rgb(255, 255, 255);
}

/* revievers */

.revievers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
}

.revievers_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 459px;
    height: 123px;
}

.revievers_header h3 {
    font-size: 45px;
}

.revievers_header p {
    font-size: 16px;
    color: #666666;
    font-family: 'gilroy-regular';
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.reviever {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 271px;
    background-color: #FFFFFF;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 100px;
    border: #EEEEEE 2px solid;
}

.reviever:hover {
    box-shadow: 0 0 10px rgba(15, 5, 5, 0.3);
}

.reviever p {
    font-size: 16px;
    font-family: 'gilroy-medium';
    text-align: center;
    width: 90%;
    color: #888888;
    margin-bottom: 25px;
}

.slider-container {
    margin-left: 20px;
    position: relative;
    width: 100%;
    height: 321px;
    overflow: hidden;
    margin-top: 30px;
  }
  
  .slider {
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 570px;
  }
  
  .slide img {
    /* width: 100%; */
  }
  
  .pagination {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

  }
  
  .pagination button {
    background-color: #dddddd;
    border: none;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    border-radius: 50%;
  }
  
  .pagination button.active {
    background-color: #F25822;
    width: 12px;
    height: 12px;
  }

  /* news */

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.news_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 569px;
    height: 123px;
}

.news_header h3 {
    font-size: 45px;
}

.news_header p {
    font-size: 16px;
    color: #666666;
    font-family: 'gilroy-regular';
    text-align: center;
    margin-top: 15px;
    margin-bottom: 55px;
}

.news_slider-container {
    margin-left: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 400px;
    overflow: hidden;
    margin-top: 30px;
  }

  .news_slider {
    display: flex;
    justify-content: center;
  }
  
  .news_slide {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    height: 330px;
  }
  
  .news_pagination {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

  }
  
  .news_pagination button {
    background-color: #dddddd;
    border: none;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    border-radius: 50%;
  }
  
  .news_slide:hover {
    box-shadow: 0 0 10px rgba(15, 5, 5, 0.3);
}

  .news_pagination button.active {
    background-color: #F25822;
    width: 12px;
    height: 12px;
  }

  .news_slide__holder {
    display: flex;
    justify-content: center;
    width: 770px;
    height: 330px;
  }

  .news_cardholder {
    text-align: left;
  }

  .news_slide__holder h4{
    text-align: left;
    margin-top: 46px;
    margin-left: 29px;
    font-size: 24px;
    width: 324px;
    height: 72px;
  }

  .news_slide__holder p {
    text-align: left;
    font-family: 'gilroy-medium';
    color: #666666;
    margin-left: 29px;
    margin-bottom: 26px;
    font-size: 13px;
    width: 324px;
    height: 40px;
  }

  .news_slide__holder a {
    text-align: left;
    text-decoration: none;
    margin-left: 29px;
    color: #F25822;
    font-size: 13px;
    width: 324px;
    height: 40px;
  }

  .news_likes-and-comments {
    display: flex;
    justify-content: baseline;
    width: 283px;
    margin-left: 27px;
    margin-bottom: 22px;
  }

  .news_like {
    display: flex;
    align-items: center;
    width: 90px;
  }

  .like-div {
    font-size: 11px;
    font-family: 'gilroy-medium';
    color: #888888;
    margin-left: 8px;
  }

  .news_slide:not(:hover) {
    opacity: 0.5;
  }


  /* footer */

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    background-color: #F3F3F3;
    padding-top: 100px;
}

.footer_section {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin-top: 10px;
}

.footer_logo {
    width: 270px;
    height: 248px;
}

.footer_logo__img {
    margin-top: -15px;
}

.footer_logo__holder {
    margin-bottom: 30px;
}

.footer h5 {
    font-size: 24px;
}

.footer p {
    color: #666666;
}

.footer_logo__text{
    margin-bottom: 20px;
}

.footer ul {
    margin-left: 20px;
    color: #666666;
}

.company {
    width: 156px;
    height: 257px;
    margin-left: 29px;
    margin-right: 144px;
    margin-top: -10px;
}

.footer_navigation {
    display: flex;
    align-items: center;
}

.footer_services {
    width: 153px;
    height: 266px;
}

.footer_contacts {
    width: 193px;
    height: 204px;
    margin-left: 147px;
}

.footer_all-rights {
    display: flex;
    justify-content: center;
    /* margin-top: 60px; */
    margin-bottom: 20px;
}

.footer_all-rights p {
    text-align: center;
    font-size: 16px;
    color: #888888;
}